.custom-input,
.custom-textarea {
  position: relative;
  display: flex;
  padding: 0 0 20px;
  margin-bottom: 3px;

  label {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    input,
    textarea, .input-textarea {
      flex-grow: 1;
      min-height: 48px;
      padding: 10px 12px;

      font-family: $ff-redhatdisplay;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.03em;
      color: $color-night-rider;

      border: 1px solid $color-silver3;
      border-radius: 8px;

      outline: none;

      // transition: border $trans-default, filter $trans-default;
      transition: border $trans-default, box-shadow $trans-default;

      &:hover {
        border: 1px solid $color-neon-blue;
      }

      &:focus {
        border: 1px solid $color-neon-blue;
        // filter: drop-shadow(0 0 3px $color-neon-blue);
        box-shadow: 0 0 3px $color-neon-blue;
      }

      &::placeholder {
        font-family: $ff-redhatdisplay;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.03em;
        color: $color-silver3;
        user-select: none;
      }

      @include vp-767 {
        font-size: 18px;
      }
    }

    .input-textarea {
      padding: 0;
      padding-bottom: 36px;

      &.textarea-focused {
        border: 1px solid $color-neon-blue;
        box-shadow: 0 0 3px $color-neon-blue;
      }

      .ProseMirror {
        height: 160px;
        overflow-y: auto;
        padding: 0 12px;
        border-radius: 8px;

        &:focus {
          outline: none;
        }

        p.is-editor-empty:first-child::before {
          content: attr(data-placeholder);
          float: left;
          color: #adb5bd;
          pointer-events: none;
          height: 0;
          position: absolute;
          bottom: 35px;
        }

        ul {
          margin-left: 14px;
          li {
            list-style: disc;
          }
        }
      }
    }

    textarea {
      position: relative;

      &::placeholder {
        position: absolute;
        bottom: 14px;
      }
    }
  }


  &[data-toolbar] {
    textarea::placeholder {
      bottom: 49px;
    }

    &:focus-within textarea {
      border: 1px solid $color-neon-blue;
      // filter: drop-shadow(0 0 3px $color-neon-blue);
      box-shadow: 0 0 3px $color-neon-blue;
    }
  }

  &[data-eye-crossed],
  &[data-eye-opened] {
    input {
      padding-right: 48px;
      color: $color-silver3;
    }

    input + svg {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 14px;
      fill: $color-silver3;
      z-index: 1;
      cursor: pointer;
      transition: fill $trans-default;
    }


    input + svg:hover {
      fill: $color-eclipse2;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: -5px;

    font-family: $ff-redhatdisplay;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: right;
    letter-spacing: 0.03em;
    color: $color-silver3;

    opacity: 0;

    transition: opacity $trans-default;
  }

  &.is-invalid {
    input,
    .input-textarea {
      border: 1px solid $color-flamingo;
      // filter: none;
      box-shadow: none;
      transition: border $trans-default;

      &:focus,
      &:hover {
        border: 1px solid rgba($color-flamingo, 0.5);
        // filter: none;
        box-shadow: none;
      }
    }

    .custom-input__error {
      opacity: 1;
    }
  }

  /*&.is-valid {
    input {
      border: 2px solid $color-malachite;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-malachite, 0.5);
      }
    }
  }*/

  &[data-optional] .custom-input__label::after,
  &[data-optional] .custom-textarea__label::after {
    content: " (optional)";
    color: $color-silver3;
  }
}

.custom-input__label,
.custom-textarea__label {
  margin-bottom: 6px;

  font-family: $ff-redhatdisplay;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.03em;
  color: $color-night-rider;
}

.custom-textarea__toolbar {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transform: translateY(-1px);
  padding: 6px 7px 7px;
  border-top: 1px solid $color-silver3;
  border-radius: 0 0 8px 8px;
  z-index: 1;
}

.custom-textarea__divider {
  position: relative;
  width: 1px;
  height: 19px;
  margin: 0 14px 0 10px;
  background-color: $color-silver3;
}
