.custom-phone {
  position: relative;
  margin-bottom: 3px;

  input[type="tel"] {
    padding-left: 120px;
    width: 100%;
  }

  .custom-select {
    position: absolute;
    left: 0;
    bottom: 20px;
    min-width: 84px;
    padding: 0;
    z-index: 1;

    &:nth-child(n) {
      margin-bottom: 0;
    }
  }

  button {
    padding: 11px;
    border: 1px solid transparent;
    border-right: 1px solid $color-silver3;
    border-radius: 8px 0 0 8px;
  }

  .custom-select__text {
    flex-shrink: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }

  .custom-select__icon {
    width: 14px;
    height: 7px;
    margin-left: 6px;
  }

  .custom-select__list {
    bottom: -5px;
    width: auto;
    min-width: 100%;
  }

  .custom-select__item {
    padding-left: 11px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;

    .custom-select__item-icon {
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      border-radius: 50%;
      background-color: $color-gainsboro;
    }
  }
}
