.cv-card {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 167px;
  padding: 24px 30px 20px;

  background-color: $color-default-white;
  border-radius: 8px;
  // filter: drop-shadow(0 4px 42px rgba(0, 0, 0, 0.07));
  overflow: hidden;

  @include vp-767 {
    width: 264px;
    min-height: 173px;
    padding: 18px 9px;
  }
}

.cv-card__userpic {
  flex-shrink: 0;
  width: 107px;
  height: 107px;
  margin-right: 25px;
  margin-top: 6px;
  font-size: 10px;
  border-radius: 50%;
  background-color: $color-gainsboro;
  overflow: hidden;

  img,
  svg {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @include vp-767 {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 34px;
    margin: 18px 9px;
  }
}

.cv-card__body {
  display: grid;
  grid-template-columns: auto 1fr minmax(85px, auto) minmax(85px, auto);
  grid-template-areas:
    "name  match match   match"
    "occup occup reloc   reloc"
    "locat locat textexp exp"
    "place place textsal sal";
  align-content: start;
  align-items: center;
  width: 100%;

  @include vp-767 {
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
      "name  name  name"
      "occup occup occup"
      "match match match"
      "locat locat locat"
      "textexp exp place"
      "textsal sal reloc";
  }
}

.cv-card__user-name {
  grid-area: name;

  margin: 7px 13px 0 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: $color-night-rider;

  @include vp-767 {
    margin: 0;
    padding-right: 40px;
    font-weight: 500;
    font-size: 12px;
  }
}

.cv-card__match-results {
  grid-area: match;

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 210px;

  @include vp-767 {
    margin-bottom: 3px;
  }
}

.cv-card__time-found {
  flex-shrink: 0;

  max-width: 140px;
  margin-right: 10px;
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: $color-silver3;

  @include vp-767 {
    margin: 0;
    font-size: 10px;
  }
}

.cv-card__match {
  flex-shrink: 0;

  margin: 0;
  margin-bottom: 7px;
  padding: 2px 6px;
  font-weight: 600;
  font-size: 10px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: $color-default-white;
  border-radius: 17px;

  &--green {
    background-color: $color-eucalyptus;
  }

  &--yellow {
    background-color: $color-festival;
  }

  &--red {
    background-color: $color-flamingo;
  }

  @include vp-767 {
    margin: 0;
  }
}

.cv-card__occupation {
  grid-area: occup;

  margin: 2px auto 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.03em;
  color: $color-night-rider;

  @include vp-767 {
    margin-bottom: 8px;
    margin-top: 3px;
    padding-right: 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
  }
}

.cv-card__relocation {
  grid-area: reloc;
  justify-self: end;
  max-width: 200px;

  margin: 2px 0 0 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.03em;
  color: $color-night-rider;
  text-align: right;

  @include vp-767 {
    margin: 0;
    font-weight: 500;
    font-size: 10px;
    line-height: 200%;
  }
}

.cv-card__location,
.cv-card__workplace {
  margin: 9px 10px 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;

  svg {
    position: relative;
    top: 2px;
    margin-right: 4px;
    fill: $color-night-rider;

    @include vp-767 {
      margin-right: 5px;
    }
  }

  @include vp-767 {
    justify-self: end;
    margin: 0;
    font-size: 10px;
    line-height: 200%;
    text-align: right;
  }
}

.cv-card__location {
  grid-area: locat;
}

.cv-card__workplace {
  grid-area: place;

  @include vp-1023 {
    .cv-card__label {
      display: none;
    }
  }
}

.cv-card__label {
  justify-self: end;
  max-width: 150px;

  margin: 10px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 0.03em;
  color: $color-silver3;
  text-align: right;

  @include vp-767 {
    justify-self: start;
    max-width: 85px;
    margin: 0 5px 0 0;
    font-size: 10px;
    line-height: 200%;
    text-align: left;
  }
}

.cv-card__label--experience {
  grid-area: textexp;
}

.cv-card__label--salary {
  grid-area: textsal;
}

.cv-card__experience,
.cv-card__salary {
  justify-self: end;
  max-width: 120px;

  margin: 7px 0 0 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 131%;
  text-align: right;

  @include vp-767 {
    justify-self: start;
    margin: 0;
    margin-right: 5px;
    font-weight: 500;
    font-size: 10px;
    line-height: 200%;
    text-align: left;
  }
}

.cv-card__experience {
  grid-area: exp;
}

.cv-card__salary {
  grid-area: sal;
  word-wrap: break-word;
}
