.page-heading {
  border-bottom: 1px solid $color-gainsboro;
  padding: 0 30px 16px 30px;

  @include vp-767 {
    padding: 0 10px 0 10px;

    &--dashboard {
      border-bottom: none;
      padding-bottom: 13px;

      .custom-select[data-radio]:not(.custom-select-up) .custom-select__button {
        padding-left: 0;
      }
    }
  }

  &__wrapper {
    position: relative;
    display: flex;

    @include vp-1023 {
      flex-direction: column;
    }
  }

  &__breadcrumbs {
    margin-bottom: 4px;

    @include vp-767 {
      display: none;
    }
  }

  &__title-wrapper {
    display: flex;

    .btn {
      padding: 0;
      margin-right: 11px;
    }

    .title {
      margin: 0 19px 0 0;
      white-space: nowrap;
    }

    @include vp-767 {
      margin-bottom: 5px;

      .btn {
        color: $color-default-black;
        margin-right: 8px;
      }

      .btn__icon {
        width: 16px;
        height: 14px;
        margin: 0;

        svg {
          width: 16px;
          height: 14px;
        }
      }

      .btn__text {
        display: none;
      }
    }
  }

  &__back-mobile {
    display: none;
    align-self: center;

    @include vp-767 {
      display: block;

      &.btn {
        color: $color-default-black;
        margin-right: 8px;
        padding: 0;

        &__icon {
          width: 16px;
          height: 14px;
          margin: 0;

          svg {
            width: 16px;
            height: 14px;
          }
        }
      }
    }
  }

  &--notification {
    .page-heading__title-wrapper {
      .title {
        margin: 0 6px 0 0;

        @include vp-767 {
          margin: 0 11px 0 0;
        }
      }

      .page-heading__notification-points {
        margin: 0 19px 0 0;

        @include vp-767 {
          margin-top: 5px;
        }
      }
    }
  }

  &__notification-points {
    max-height: 18px;
    padding: 1px 8px;

    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;

    background: #E7E7FD;
    border-radius: 17px;
  }

  &__tabs {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-self: center;
    list-style: none;
    padding: 0;
    margin: 0;

    &--mobile {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -3px;
      height: 26px;
      width: 1px;
      background-color: $color-gainsboro;
    }

    @include vp-1023 {
      align-self: start;

      &--mobile {
        display: flex;
      }

      &::before {
        display: none;
      }
    }

    @include vp-767 {
      width: 100%;
      overflow-x: auto;
      flex-wrap: nowrap;
      margin-top: 5px;
      padding-bottom: 2px;
    }
  }

  &__tab {
    position: relative;
    margin: 0 19px;

    &:last-of-type {
      margin-right: 0;
    }

    &.active {
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 3px solid $color-neon-blue;
        bottom: -22px;
        left: 0;
      }
    }

    @include vp-1023 {
      &.active {
        &::after {
          bottom: -18px;
        }
      }
    }

    @include vp-767 {
      &:first-of-type {
        margin-left: 0;
      }

      &.active .page-heading__tab-btn {
        color: $color-neon-blue;
      }

      &.active {
        &::after {
          border-bottom: 2px solid #5d5fef;
          bottom: -2px;
        }
      }
    }
  }

  &__tab-btn {
    background-color: transparent;
    border: none;
    padding: 0;

    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: $color-night-rider;
    cursor: pointer;

    transition: opacity $trans-default;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }

    @include vp-767 {
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: $color-dim-gray;
      white-space: nowrap;
    }
  }

  &__custom-select {
    position: relative;

    align-self: center;
    margin: 0 19px;

    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: $color-night-rider;

    &::before {
      content: "";
      position: absolute;
      left: -19px;
      top: -3px;
      height: 26px;
      width: 1px;
      background-color: $color-gainsboro;
    }

    @include vp-1023 {
      align-self: start;
      margin: 0 0 0 1px;

      &::before {
        display: none;
      }
    }
  }

  &__share {
    display: flex;
    align-items: center;
    color: $color-neon-blue;
    line-height: 19px;
    font-weight: 700;
    margin-left: auto;

    @include vp-1023 {
      position: absolute;
      right: 0;
      top: 4px;
    }
  }

  &__share-icon {
    margin-right: 5px;
  }
}

.page-heading__history {
  align-self: center;
  margin-left: auto;

  @include vp-1023 {
    position: absolute;
    right: 0;
    top: 5px;
  }

  @include vp-767 {
    top: 2px;
  }
}

.page-heading__back-btn {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: $color-dim-gray;

  .btn__icon {
    margin-right: 4px;
  }
}
