.stage-history {
  position: relative;
  padding-left: 21px;

  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: $color-night-rider;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      z-index: 1;

      .stage-history__list {
        display: block;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $color-neon-blue;
  }
}

.stage-history__first-item {
  display: flex;
  flex-direction: column;
  margin: 0;
  line-height: 100%;
}

.stage-history__list {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  display: none;
  min-width: 193px;
  margin: 0;
  padding: 31px 14px 5px;
  list-style-type: none;
  background-color: $color-default-white;
  box-shadow: 0 4px 42px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  z-index: 1;

  &::before {
    content: "History";
    position: absolute;
    top: 16px;
    left: 14px;

    font-weight: 700;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.03em;
  }
}

.stage-history__item {
  display: flex;
  justify-content: space-between;
  padding-top: 9px;
  padding-bottom: 8px;

  &:not(:last-of-type) {
    border-bottom: 1px solid $color-gainsboro;
  }
}

.stage-history__text {
  font-size: 12px;
}

.stage-history__date {
  font-size: 10px;
  color: $color-silver3;
}
