.status {
  &__intro {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    margin-bottom: 15px;

    @include vp-767 {
      flex-direction: column;
      margin-top: 14px;
    }
  }

  &__logo {
    margin-left: -4px;

    @include vp-767 {
      width: 109px;
      height: 19px;
      margin: 0 0 24px;

      svg {
        width: 109px;
        height: 19px;
      }
    }
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 0 3px 0 0;
    padding: 0;
  }

  &__item {
    position: relative;
    display: flex;
    margin-right: 72px;

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: -28px;
      transform: translateX(22px);
      width: 28px;
      height: 1px;
      background-color: $color-silver3;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }

    @include vp-767 {
      &:not(&.is-current) {
        display: none;
      }

      &::after {
        display: none;
      }
    }
  }

  &__item.is-current &__number {
    background-color: $color-neon-blue;
  }

  &__item.is-current &__name {
    color: $color-night-rider;
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $color-silver3;
    color: $color-default-white;
    margin-right: 10px;
    font-weight: 700;
  }

  &__name {
    font-weight: 700;
    color: $color-silver3;
  }


  &__bar {
    width: 100%;
    height: 3px;
    background-color: $color-gainsboro;

    @include vp-767 {
      width: auto;
      margin: 0 10px;
    }
  }

  &__bar-color {
    border-radius: 0 2px 2px 0;
    background-color: $color-neon-blue;
    height: 100%;
  }
}
