.table {
  overflow: auto;

  table {
    border-collapse: collapse;
    margin: 0;
    min-width: 653px;
    max-width: 700px;
  }

  tr {
    border-radius: 8px;
    overflow: hidden;

    &:nth-child(2n) {
      background: $color-white-smoke;
    }
  }

  th {
    padding: 9px 19px;
    font-weight: 500;
    line-height: 20px;
    color: $color-silver3;
    text-align: start;
  }

  td {
    overflow-wrap: anywhere;
    font-weight: 500;
    padding: 16px 20px 17px;

    &:nth-child(2) {
      min-width: 149px;

      @include vp-767 {
        min-width: 133px;
        padding-left: 10px;
      }
    }

    &:nth-child(4) {
      min-width: 184px;
    }

    &:first-child {
      @include vp-767 {
        width: 38px;
        padding: 16px;
        padding-right: 0;
      }
    }

    &:last-child {
      width: 54px;
      padding: 16px;
      text-align: end;
    }
  }

  th.lg-only,
  td.lg-only {
    @include vp-767 {
      display: none;
    }
  }

  th.sm-only,
  td.sm-only {
    display: none;

    @include vp-767 {
      display: table-cell;
    }
  }

  &__btn {
    width: 20px;
    height: 20px;
    margin: 2px 0;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}
